@model List<Shirt>

<div class="text-danger" asp-validation-summary="All"></div>

<h3>Shirts</h3>
<br/>

@if (Model != null)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Brand</td>
                <td>Gender</td>
                <td>Color</td>
                <td>Size</td>
                <td>Price</td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var shirt in Model)
            {
                <tr>
                    <td>@shirt.Brand</td>
                    <td>@shirt.Gender</td>
                    <td>@shirt.Color</td>
                    <td>@shirt.Size</td>
                    <td>@(shirt.Price.HasValue ? shirt.Price.Value.ToString("c") : "")</td>
                    <td><a class="btn btn-link" asp-controller="shirts" asp-action="updateshirt" asp-route-shirtId="@shirt.ShirtId">Edit</a> </td>
                    <td><a class="btn btn-link" asp-controller="shirts" asp-action="deleteshirt" asp-route-shirtId="@shirt.ShirtId">Delete</a> </td>
                </tr>
            }
        </tbody>
    </table>
}

<br/>
<a class="btn btn-primary" asp-controller="shirts" asp-action="createshirt">Create</a>